<aside class="aside aside-close" id="aside">
    <div class="title">
        <img class="title-first" src="http://7lrx11.com1.z0.glb.clouddn.com/blog/font_first.png">
        <img class="title-second" src="http://7lrx11.com1.z0.glb.clouddn.com/blog/font_second.png">
        <img class="title-third" src="http://7lrx11.com1.z0.glb.clouddn.com/blog/font_third.png">
    </div>
    <div class="profile">
        <img src="{{@blog.logo}}">
        <p>梁正/纸异兽</p>
        <p>前端功城师</p>
        <hr>
        <p>Life</p>
        <div>
            <div class="pic-box first">
                <img src="{{asset "img/life_biking.png"}}">
                <p>BIKING</p>
            </div>
            <div class="pic-box second">
                <img src="{{asset "img/life_climbing.png"}}">
                <p>CLIMBING</p>
            </div>
            <div class="pic-box third">
                <img src="{{asset "img/life_running.png"}}">
                <p>RUNING</p>
            </div>
        </div>
        <hr>
        <p>Tech</p>
        <div>
            <div class="pic-box first">
                <img src="{{asset "img/tech_coding.png"}}">
                <p>CODING</p>
            </div>
            <div class="pic-box second">
                <img src="{{asset "img/tech_explore.png"}}">
                <p>EXPLORE</p>
            </div>
            <div class="pic-box third">
                <img src="{{asset "img/tech_design.png"}}">
                <p>DESIGN</p>
            </div>
        </div>
        <p>最爱前端大法，研究新技术，玩玩设计</p>
        <p>JavaScript | Node.js | Python | CSS<br>Photoshop | Illustrator | ......</p>
        <hr>
        <p>Find Me</p>
        <div>
            <a href="http://www.cnblogs.com/zhiyishou" target="_blank">
                <div class="contact-box">
                    <div class="cnblog"></div>
                    <p>Cnblog</p>
                </div>
            </a>
            <a href="https://github.com/zhiyishou" target="_blank">
                <div class="contact-box">
                    <div class="github"></div>
                    <p>Github</p>
                </div>
            </a>
            <a href="http://weibo.com/zhiyishou" target="_blank">
                <div class="contact-box">
                    <div class="weibo"></div>
                    <p>Weibo</p>
                </div>
            </a>
            <a href="mailto:liangzheng63@163.com">
                <div class="contact-box">
                    <div class="email"></div>
                    <p>Email</p>
                </div>
            </a>
        </div>
        <hr>
        <a href="/about" id="readmore" action="article">
            <p><i>Read more about 纸异兽</i></p>
        </a>
    </div>
    <div class="close">
        CLOSE
    </div>
</aside>