<aside class="aside aside-close" id="aside">
    <div class="title">
        <svg class="title-first" viewBox="0 0 100 100" width="200" height="200">
            <g>
                <path d="M35.5,4.6v1.8c0,1.9-4.9,6.5-14.8,13.7l-2.2,5.1c2.6,0,4,0.6,4,1.8l12.3-3.3h1.4v1.4c-3.6,5.5-10.6,12.5-21,21v0.7l1.4,1.8c8-1.2,11.9-3.3,11.9-6.1l5.4-6.9c3.1,4.1,4.7,8.4,4.7,13l-5.4,5.1l-4-3.3l-4,2.5l0.7,7.6h0.7c0-2.2,0.6-3.3,1.8-3.3h1.4c1.7,0,5.5,2.3,11.6,6.9c-1.7,4.1-4,6.1-6.9,6.1h-1.4c-4.3-3.1-6.5-5.8-6.5-8h-0.7c0,12.8-1.2,19.2-3.6,19.2l-1.1-1.1h-0.7l0.7-2.5l-2.2-21.3c-4.1,4.6-6.1,9.8-6.1,15.5l-0.7,0.7H9.1c0.7-4.8,2.8-10.6,6.1-17.3c-4.1,0-6.1-0.6-6.1-1.8v-1.4C14.4,42.9,19.4,37.2,24,35v-1.1h-0.7L16,35.7c-3.6-0.7-5.4-2.2-5.4-4.3C22.4,13.5,30.7,4.6,35.5,4.6zM69.1,8.2H76l1.4,1.4v1.1c-1.2,2.9-3.5,5.8-6.9,8.7h-1.4v-1.8h-7.2v0.7c2.2,0,4.8,4.1,8,12.3h8.3l2.5,2.5l-5.4,8.7c7.5,27,13.1,40.5,17,40.5v1.1c-1.7,3.4-4.6,5.1-8.7,5.1C78.5,82,76,77,76,73.7c-8.2-21.9-12.7-32.9-13.4-32.9h-0.7c-7.2,0-10.8,2.1-10.8,6.1l-0.7,5.4l0.7,0.7c-0.2,3.4-1,5.9-2.2,7.6v3.6c1-0.2,3.5-4,7.6-11.2h0.7v1.8c0,5.8-5.2,12.1-15.5,18.8l-0.7-0.7v-1.8c1.7-2.6,2.5-5.2,2.5-7.6h0.7l-0.7-1.1l0.7-4.3v-5.8c0-7.2-1.3-15.3-4-24.2C45.5,17.8,50.5,11.6,55,9.7L69.1,8.2zM46.4,20.2c3.1,5.1,4.7,9.4,4.7,13V35h0.7c3.4,0,6-0.8,8-2.5l-4-6.1l4.7-8.7L46.4,20.2z"/>
            </g>
        </svg>

        <svg class="title-second" viewBox="0 0 100 100" width="200" height="200">
            <g>
                <path d="M39.5,69v0.7c-8.2,6.3-17,11.4-26.4,15.5l-0.7-0.7v-1.1C29,73.8,38,69,39.5,69z M68.4,5.7h2.2c4.3,0,7.6,1.9,9.8,5.8c-4.1,10.4-6.1,19.3-6.1,26.7l-5.8,1.4l-1.8-1.4l-2.2,6.5l9.8,0.4l2.2-0.4l0.7,0.4v1.1L62.6,52l-1.4,5.8l13.4,1.8h0.7l4-0.7l1.1,0.7v0.7c-7.2,3.4-12.5,5.1-15.9,5.1l-25.7-4h-4.7h-0.7l-15.2,6.5v-0.7c0.2-1.9,4.9-4.7,14.1-8.3v-2.5l-0.7-6.1h-2.2c-1.9,1.7-3.9,2.5-5.8,2.5h-1.1v-1.4l8-4.3l-0.4-0.7v-1.1l-6.5,2.5l-1.1-2.5l1.8-10.5v-2.5L18.2,22c1.4-4.1,2.9-6.4,4.3-6.9c2.2,0,6,3.7,11.6,11.2v8.3c6.7-2.2,10.1-3.9,10.1-5.1v-3.3h-4c-2.7,0-4.2-0.8-4.7-2.5c2.4-2.2,5.3-3.3,8.7-3.3c0-3.1-2-4.7-6.1-4.7c-1.7,0-3-1.1-4-3.3l8-5.1c1.9,1.7,3.7,2.5,5.4,2.5h3.3L68.4,5.7z M33.3,39v1.8l5.4-1.8l1.4,3.3c5.3-1.7,9.9-2.2,13.7-1.4l2.5-1.1v-2.5l-4-0.7L46,38.2l-0.7-2.5h-1.1C37,36.2,33.3,37.3,33.3,39z M42,45.1l0.7,4.3v5.1l9.8,1.8l-1.1-1.1v-0.7l1.8-5.8h-0.7L42,45.1z M86.5,67.9l1.8,1.8c0,6.5-5.7,11.4-17,14.8c-8-0.7-14.7-3.1-20.2-7.2l-4.3-2.2L46,74.4v-1.1c3.1-1.9,6.3-2.9,9.4-2.9l5.1-0.4l4.7,1.4l14.1,6.1L86.5,67.9z M54,13.3c1,2.2,1.4,5.1,1.4,8.7l4,1.1c7.2-3.1,10.8-5.8,10.8-8c-2.7-2.4-4.9-3.6-6.9-3.6h-2.9L54,13.3z M54,28.8v0.7l12.3,1.8v-0.7l1.1-7.6h-0.7C58.6,25.7,54.4,27.6,54,28.8z"/>
            </g>
        </svg>

        <svg class="title-third" viewBox="0 0 100 100" width="200" height="200">
            <g>
                <path d="M44.6,61.7l7.6-3.6c1.2,0,1.8,0.6,1.8,1.8l-2.5,4v0.4h0.7c5.5-3.6,8.3-9,8.3-16.3l-1.8-8.7l-1.4,0.4l1.1-9.8l1.4-0.4v-4.3c0.2-4.1,2.4-9,6.5-14.8h1.1v1.4l-2.2,11.6v0.7l-0.7,4.7l1.8,1.4h4c5.5,1.4,7-1.3,4.3-8.3l8.3-1.4l1.1,1.4v1.4c-4.1,3.4-6.7,6.6-8,9.8c-1.7,4.1-4.6,6.1-8.7,6.1c10.4,10.8,16.6,20.2,18.8,28.2l4.3,5.4l4-5.8l1.1,2.9c-3.6,7-6.7,10.5-9.4,10.5c-5.5-8-9.2-14-10.8-18.1c-1.9-3.4-5.9-7.8-11.9-13.4c0,4.3-3.7,10.8-11.2,19.5h-0.7l-2.2-1.4h-0.7c-1,0-1.4,0.6-1.4,1.8l-7.2-2.9h-7.2l-15.2,1.1l-0.7,0.4c-4.6-0.7-6.9-1.8-6.9-3.3c0-1,0.1-2.2,0.4-3.6l7.2,1.1l5.8-0.4h2.5l3.3,0.4l4.3-0.7l8,0.7H44.6z M15.6,70.8l3.3,4.3l-0.4,4.3l1.4,1.1l8.3-0.7h5.1l9,1.1l5.4-0.7l4.3-2.5l0.4-3.6l-3.3-3.3h-6.1l-5.8-1.1l-18.4,0.4l3.3,4.7l22.4-2.5l3.3,2.9l-8.3,3.6l-18.4-1.8l-2.2-4.3L15.6,70.8z M40.2,28.8l4.7-0.7h5.8l3.6,3.3l0.4,8C52.5,49,50.9,53.8,50,53.8l-1.4-1.4v-1.4l2.2-10.1v-0.7c0-1.2-1.2-1.8-3.6-1.8l-2.2-2.2l-5.8,1.4v4l6.5-1.4v0.7L39.9,48c-1.4,3.9,1,4.7,7.2,2.5l-2.2,9l-4.3,0.4l-0.4-1.8h-6.9l-8.7,0.4l-2.2-1.8l11.2-3.3c0.5-1.7,0.4-3.1-0.4-4.3l-8-1.1L25,44.8l5.1-1.1l3.3-1.4c0-1,0.8-1.4,2.5-1.4v-0.7l-1.4-1.8l-12.3,3.3l-0.7,2.2l1.1,8.7l-4.3,0.4l-1.8-13.4c3.4-7.5,5.1-15.1,5.1-22.8c0.7,0,1.8-1.4,3.3-4.3h0.7l1.1,7.6l-1.1,1.4v1.4l9.8-2.9v-0.7c0-1-2.2-1.8-6.5-2.5l-0.7-0.4v-1.4c1-3.1,3.4-4.7,7.2-4.7l3.6-2.5c1,0,0.8,2.3-0.4,6.9l1.8,5.4c0.7-9.2,1.6-13.7,2.5-13.7l2.2,1.4c0-1.2,1-2.3,2.9-3.3h4.3l4,3.3c0,6.7-2.4,12.3-7.2,16.6L38,26.7l-0.7,0.7c-1.4,0.7-2.9,1-4.3,0.7l-5.4,1.8L25.8,31c-2.9,0.5-4.3,1.2-4.3,2.2v6.1c3.4-5.1,5.9-7.1,7.6-6.1L40.2,28.8z M44.9,11.9l-0.7,3.3v2.5h4.3l1.4-1.4v-1.1C50,14.2,48.3,13.1,44.9,11.9z"/>
            </g>
        </svg>
        <!--<img class="title-first" src="http://7lrx11.com1.z0.glb.clouddn.com/blog/font_first.png">-->
        <!--<img class="title-second" src="http://7lrx11.com1.z0.glb.clouddn.com/blog/font_second.png">-->
        <!--<img class="title-third" src="http://7lrx11.com1.z0.glb.clouddn.com/blog/font_third.png">-->
    </div>
    <div class="profile">
        <img src="{{@blog.logo}}">
        <p>梁正/纸异兽</p>
        <p>前端功城师</p>
        <hr>
        <p>Life</p>
        <div>
            <div class="pic-box first">
                <img src="{{asset "img/life_biking.png"}}">
                <p>BIKING</p>
            </div>
            <div class="pic-box second">
                <img src="{{asset "img/life_climbing.png"}}">
                <p>CLIMBING</p>
            </div>
            <div class="pic-box third">
                <img src="{{asset "img/life_running.png"}}">
                <p>RUNING</p>
            </div>
        </div>
        <hr>
        <p>Tech</p>
        <div>
            <div class="pic-box first">
                <img src="{{asset "img/tech_coding.png"}}">
                <p>CODING</p>
            </div>
            <div class="pic-box second">
                <img src="{{asset "img/tech_explore.png"}}">
                <p>EXPLORE</p>
            </div>
            <div class="pic-box third">
                <img src="{{asset "img/tech_design.png"}}">
                <p>DESIGN</p>
            </div>
        </div>
        <p>最爱前端大法，研究新技术，玩玩设计</p>
        <p>JavaScript | Node.js | Python | CSS<br>Photoshop | Illustrator | ......</p>
        <hr>
        <p>Find Me</p>
        <div>
            <a href="http://www.cnblogs.com/zhiyishou" target="_blank">
                <div class="contact-box">
                    <div class="cnblog"></div>
                    <p>Cnblog</p>
                </div>
            </a>
            <a href="https://github.com/zhiyishou" target="_blank">
                <div class="contact-box">
                    <div class="github"></div>
                    <p>Github</p>
                </div>
            </a>
            <a href="http://weibo.com/zhiyishou" target="_blank">
                <div class="contact-box">
                    <div class="weibo"></div>
                    <p>Weibo</p>
                </div>
            </a>
            <a href="mailto:liangzheng63@163.com">
                <div class="contact-box">
                    <div class="email"></div>
                    <p>Email</p>
                </div>
            </a>
        </div>
        <hr>
        <a href="/about" id="readmore" action="article">
            <p><i>Read more about 纸异兽</i></p>
        </a>
    </div>
    <div class="close">
        CLOSE
    </div>
</aside>