{{#post}}
    <article class="{{post_class}}">
        <header class="post-header">
            <section class="post-meta">
                <time class="post-date"
                      datetime="{{date format='YYYY-MM-DD'}}">{{date timeago="true"}}</time>
                {{#if tags}}
                     ·
                    {{#foreach tags}}
                            <a href="{{url}}" title="{{name}}" action="tag">{{name}}</a>
                    {{/foreach}}
                {{/if}}
            </section>
            <h1 class="post-title">{{title}}</h1>
        </header>

        <section class="post-content">
            {{content}}
        </section>

        <footer class="post-footer">

            {{! Everything inside the #author tags pulls data from the author }}
            {{#author}}
                <section class="post-info">
                    <a href="/about" action="article">
                        <div class="date-box">
                            <p>Published on</p>
                            <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="YYYY.MM.DD"}}</time>
                        </div>
                        <div class="author">
                            {{#if image}}
                                <img src="{{image}}">
                            {{/if}}
                            <div>
                                <h2>{{name}}</h2>
                                {{#if bio}}<i>{{bio}}</i>{{/if}}
                            </div>
                        </div>
                    </a>
                </section>

            {{/author}}
            <!-- 多说评论框 start -->
            <div id="ds-thread" data-thread-key="{{url}}" data-title="{{title}}" data-url="{{url}}"></div>
            <div id="comment-box" ></div>
            <!-- 多说评论框 end -->

        </footer>

    </article>
    <aside class="read-next">
        {{#next_post}}
            <a action="article" class="read-next-story" href="{{url}}">
                    <p>&larr; {{title}}</p>
            </a>
        {{/next_post}}
        {{#prev_post}}
            <a action="article" class="read-next-story prev" href="{{url}}">
                <p>{{title}} &rarr;</p>
            </a>
        {{/prev_post}}
    </aside>
{{/post}}