<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}"/>

    <meta name="HandheldFriendly" content="True"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/less" href="{{asset "css/all.css"}}">

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>

<body class="{{body_class}} ">
{{! Everything else gets inserted here }}
{{{body}}}

<div id="mask-layer"></div>
<div id="loading"></div>

{{! Ghost outputs important scripts and data with this tag }}
{{ghost_foot}}

{{! The main JavaScript file for Casper }}
<script src="{{asset "js/jquery-2.1.4.min.js"}}"></script>
<script src="{{asset "js/moment.js"}}"></script>

<script src="{{asset "js/index.js"}}"></script>
</body>
</html>
