<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}"/>

    <meta name="HandheldFriendly" content="True"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/less" href="{{asset "css/all.css"}}">
    <link rel="stylesheet" type="text/css" href="{{asset "css/prism.css"}}">

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>

<body class="{{body_class}} ">
{{! Everything else gets inserted here }}
{{{body}}}


{{! Ghost outputs important scripts and data with this tag }}
{{ghost_foot}}

{{! The main JavaScript file for Casper }}
<script src="{{asset "js/jquery-2.1.4.min.js"}}"></script>
<script src="{{asset "js/prism.js"}}"></script>
<script src="{{asset "js/moment.js"}}"></script>

<script>
    var $body = $("#inner-body");
    $(function () {
        fixWidthOfNav();
    });

    $("#nav").on({
        "mouseenter": function () {
            $(this).removeClass("nav-close").addClass("nav-open");
        },
        "mouseleave": function () {
            $(this).removeClass("nav-open").addClass("nav-close");
        }
    });

    $("#switch").on("click", function () {
        $(this).one("mouseleave", function () {
            $body.toggleClass("right-middle");
        });
    });

    $(window).resize(function () {
        fixWidthOfNav();
    });

    $("#left-middle").on("click","a",function(e){
        e.preventDefault();
        var href = this.href;
        $("#left-bottom").load(href + " #left-bottom>*",function(res){
            Prism.highlightAll();
            $body.removeClass("left-top left-middle").addClass("left-bottom");
            fixWidthOfNav();
            window.history.pushState({type:"article",url:href},document.title,href);
        });
    });

    window.addEventListener("popstate",function(e){
        switch (e.state.type){
            case "list":
                $body.removeClass("left-bottom left-top").addClass("left-middle");
                break;
            case "article":
                $body.removeClass("left-top left-middle").addClass("left-bottom");
                break;
            case "tag":
                $body.removeClass("left-bottom left-middle").addClass("left-top");
                break;
        }
        fixWidthOfNav();
        $("#left-bottom").find("audio,video").each(function(){
            this.pause();
        })
    });

    window.history.replaceState({type:"list",url:window.location.href},document.title,window.location.href);



    function fixWidthOfNav(clear) {
        /**
         * 修正浏览器bug,test.html中测试
         * 如果子节点为img，其宽度auto，高度根据父节点高度百分比变化
         * 父节点宽度为auto，在resize之后，父节点不会发生宽度变化，在所有浏览器中表现都不一样
         * 只能用js去纠正
         */
        if ($body.hasClass("left-bottom")) {
            $(".container").css("margin-left", 0);
        }else{
            var title = $("#nav .title"),
                    width = title.height() * 0.3;
            title.css("width", width);
            $(".container").css("margin-left", width);
        }
    }
</script>
</body>
</html>
