<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}"/>

    <meta name="HandheldFriendly" content="True"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/all.css"}}">

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>

<body class="{{body_class}} ">
{{! Everything else gets inserted here }}
{{{body}}}

<div id="mask-layer"></div>
<div id="loading"></div>


{{! The main JavaScript file for Casper }}
<script src="https://upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.3.min.js"></script>
<script src="https://cdn.bootcss.com/moment.js/2.10.6/moment.js"></script>
<script>var duoshuoQuery = {short_name:"zhiyishou"};</script>
<script src="https://static.duoshuo.com/embed.js"></script>

<script src="{{asset "js/index.js"}}"></script>

{{! Ghost outputs important scripts and data with this tag }}
{{ghost_foot}}


</body>
</html>
